{% block client %}
<script src="https://unpkg.com/vue"></script>
<div id="app">
    <div class="row border-bottom my-3 py-3">
        <div class="col">
          <h1 class='p-0 m-0'>Hi, {{content.name}}</h1>
        </div>
        <div class="col">
          
          <div class="alert alert-primary" role="alert">
            <h6 class='p-0 m-0'>{{content.joining_code}}</h6>
          </div>
        </div>
        <form action="{{content.name}}/createroom" method="POST">
          {% csrf_token %}
          <div class="col">
            <button type="submit">creat</button>
          </div>
        </form>
        <!-- <form action="/messages/join" method="POST">
          {% csrf_token %} -->
          <div class="col">
            <input type="text" value="Joiningcode" name="joining_code" v-model="joiningcode">
            
            <button @click="joinGroup">Join</button>
          </div>
        <!-- </form>  -->
        
      </div>
  
    <input v-model="msg" >

    <button @click="sendmsg">sendmsg</button>

   

    <div v-for="msg in massages">
        
        <div v-if="user==msg.sender" class="container">
          <img src="https://source.unsplash.com/user/sender" alt="Avatar" class="right">
          <p>[[msg.value]]</p>
          <span class="time-right">11:00</span>
        </div>
        <div v-else class="container">
          <img src="https://source.unsplash.com/user/sender" alt="Avatar" >
          <p>[[msg.value]]</p>
          <span class="time-right">11:00</span>
        </div>
    </div>

    
    
</div>

 




<script>


  var vm=new Vue({
    delimiters : ['[[',']]'],
      el: '#app',
      
      data: { 
        
          msg:'your massage',
          massages:[],
          socket: new WebSocket('ws://localhost:8000/ws/souhard'),
          socket2: new WebSocket('ws://localhost:8000/ws/join'),


          user: "{{content.name}}",
          joiningcode:"enter code"


      },
      methods:{
        joinGroup(){

          console.log(this.joiningcode,this.user);
          
          const socket2=new WebSocket('ws://localhost:8000/ws/join')

          socket2.onopen=function(e){

            socket2.send(JSON.stringify({
                        joincode:this.joiningcode,
                        joiner:this.user
              }))

          }.bind(this)
            
        },

        getJoinmsg(){

          this.socket2.onmessage = function(e) {
            console.log('get')
            this.msg
            console.log(e);
            

                    const data=JSON.parse(e.data)
                    console.log(data)
                    
                    
              
            }.bind(this)

        },
        
          
        sendmsg(){
           
         
          console.log('click');
          
          const socket=new WebSocket('ws://localhost:8000/ws/souhard')
          socket.onopen = function(e) {
            socket.send(JSON.stringify({
              value:this.msg,
              sender:this.user
              }));
            }.bind(this);
        },

        getmsg(){
          
          this.socket.onmessage = function(e) {
                    const data=JSON.parse(e.data)
                    if(data.sender==this.user || data.reciever==this.user){
                        this.massages.push(data)
                    }
                    console.log(data);
                    
                    
                    
                    
              
            }.bind(this)

        }
      },
      mounted(){
            this.getmsg()
            this.getJoinmsg()
                
      }
  })
</script>

{% endblock %}