{% block client %}
<script src="https://unpkg.com/vue"></script>
<div id="app">
    <div class="row border-bottom my-3 py-3">
        <div class="col">
          <h1 class='p-0 m-0'>Hi, {{content.name}}</h1>
        </div>
        <div class="col">
          
          <div class="alert alert-primary" role="alert">
            <h6 class='p-0 m-0'>{{content.joining_code}}</h6>
          </div>
        </div>
        <form action="{{content.name}}/createroom" method="POST">
          {% csrf_token %}
          <div class="col">
            <button type="submit">new</button>
          </div>
        </form>
        
          <div class="col">
            <input type="text" value="Joiningcode" name="joining_code" v-model="joiningcode">
            
            <button @click="joinGroup">Join</button>
            <span>[[status]]</span>
          </div>
          
        
      </div>
  
    

    

   
    <div id="chatwindow">
        <div v-for="msg in massages" >
            
            <div v-if="user==msg.sender" class="msgpannel right" >
              <img :src='"https://picsum.photos/id/"+me+"/60/60"' alt="Avatar" class="right">
              <p>[[msg.value]]</p>
              <span class="user-right">@ me</span>
            </div>
            <div v-else class="msgpannel left">
              <img :src='"https://picsum.photos/id/"+friend+"/60/60"' alt="Avatar" >
              <p>[[msg.value]]</p>
              <span class="user-left">@ [[friendname]]</span>
            </div>
        </div>
  </div>
  <hr>
          <input v-model="msg" id="inputmsg" @keyup.enter="sendmsg">
          <!-- <button @click="sendmsg">sendmsg</button> -->

    
    
</div>

 




<script>


  var vm=new Vue({
    delimiters : ['[[',']]'],
      el: '#app',
      
      data: { 
        
          msg:'MESSAGE',
          massages:[],
          socket: new WebSocket('ws://localhost:8000/ws/{{content.name}}'),
          socket2: new WebSocket('ws://localhost:8000/ws/join'),


          user: "{{content.name}}",
          joiningcode:"enter code",
          status:'Panding'


      },
      computed:{
          me(){           
            const INPUT=this.user
            let hash = 0
            const len = INPUT.length;
            for (let i = 0; i < len; i++) {
                          hash  = ((hash << 5) - hash) + INPUT.charCodeAt(i)
                          hash |= 0;
            }
            return Math.abs(hash)%100
            
        },
        friend(){
            
            const INPUT_arr=this.massages.filter(val=> (val.sender!=this.user || val.reciever!=this.user))[0]
            console.log(INPUT_arr)
            
            let INPUT=''
            if(this.user!=INPUT_arr.sender){INPUT=INPUT_arr.sender}
            else{INPUT=INPUT_arr.reciever}
            let hash = 0
            const len = INPUT.length;
            for (let i = 0; i < len; i++) {
                          hash  = ((hash << 5) - hash) + INPUT.charCodeAt(i)
                          hash |= 0;
            }
            return Math.abs(hash)%100
        },
        friendname(){
          const INPUT_arr=this.massages.filter(val=> (val.sender!=this.user || val.reciever!=this.user))[0]
          console.log(INPUT_arr)
          let INPUT=''
          if(this.user!=INPUT_arr.sender){INPUT=INPUT_arr.sender}
          else{INPUT=INPUT_arr.reciever}
          return INPUT

        }
        
        
      },
      methods:{
        
                        
        
        joinGroup(){

          console.log(this.joiningcode,this.user);
          
          const socket2=new WebSocket('ws://localhost:8000/ws/join')

          socket2.onopen=function(e){

            socket2.send(JSON.stringify({
                        joincode:this.joiningcode,
                        joiner:this.user
              }),
              this.joiningcode='enter code')

          }.bind(this)
            
        },

        getJoinmsg(){

          this.socket2.onmessage = function(e) {
            console.log('get')
            console.log(e);
            

                    const data=JSON.parse(e.data)
                    console.log(data)
                    this.status=data.value
                    
                    
              
            }.bind(this)

        },
        
          
        sendmsg(){
           
         
          console.log('click');
          
          const socket=new WebSocket('ws://localhost:8000/ws/{{content.name}}')
          socket.onopen = function(e) {
            socket.send(JSON.stringify({
              value:this.msg,
              sender:this.user
              }),
              this.msg='MESSAGE');
            }.bind(this);
        },

        getmsg(){
          
          this.socket.onmessage = function(e) {
                    const data=JSON.parse(e.data)
                    if(data.sender==this.user || data.reciever==this.user){
                        this.massages.push(data)
                    }
                    console.log(data);
                    
                    
                    
                    
              
            }.bind(this)

        }
      },
      mounted(){
            this.getmsg()
            this.getJoinmsg()
                
      },

  })
</script>

{% endblock %}