{% block client %}
<script src="https://unpkg.com/vue"></script>
<div id="app">
    <div class="row border-bottom my-3 py-3">
        <div class="col">
          <h1 class='p-0 m-0'>Hi, {{content.name}}</h1>
        </div>
        <div class="col">
          
          <div class="alert alert-primary" role="alert">
            <h6 class='p-0 m-0'>{{content.joining_code}}</h6>
          </div>
        </div>
        <form action="{{content.name}}/createroom" method="POST">
          {% csrf_token %}
          <div class="col">
            <button type="submit">new</button>
          </div>
        </form>
        
          <div class="col">
            <input type="text" value="Joiningcode" name="joining_code" v-model="joiningcode">
            
            <button @click="joinGroup">Join</button>
            <span>[[status]]</span>
          </div>
          
        
      </div>
  
    

    

   
    <div id="chatwindow">
        <div v-for="msg in massages" >
            
            <div v-if="user==msg.sender" class="msgpannel right" >
              <img :src='"https://picsum.photos/id/"+me+"/60/60"' alt="Avatar" class="right">
              <p>[[msg.value]]</p>
              <span class="user-right">@ me</span>
            </div>
            <div v-else class="msgpannel left">
              <img :src='"https://picsum.photos/id/"+friend(msg.friend)+"/60/60"' alt="Avatar" >
              <p>[[msg.value]]</p>
              <span class="user-left">@ [[msg.friend]]</span>
            </div>
        </div>
  </div>
  <hr>
          <input v-model="msg" id="inputmsg" @keyup.enter="sendmsg">

    
    
</div>

 




<script>


  var vm=new Vue({
    delimiters : ['[[',']]'],
      el: '#app',
      
      data: { 
        
          msg:'MESSAGE',
          massages:[],
          socket: new WebSocket('ws://localhost:8000/ws/{{content.name}}'),
          socket2: new WebSocket('ws://localhost:8000/ws/join'),


          user: "{{content.name}}",
          joiningcode:"enter code",
          status:'Panding'
      },
      computed:{
          me(){           
            const INPUT=this.user
            let hash = 0
            const len = INPUT.length;
            for (let i = 0; i < len; i++) {
                          hash  = ((hash << 5) - hash) + INPUT.charCodeAt(i)
                          hash |= 0;
            }
            return Math.abs(hash)%100
            
        }
        
        
      },
      methods:{


        friend(val){
          const INPUT=val
          
          let hash = 0
            const len = INPUT.length;
            for (let i = 0; i < len; i++) {
                          hash  = ((hash << 5) - hash) + INPUT.charCodeAt(i)
                          hash |= 0;
            }
            return Math.abs(hash)%100
        },
        
                        
        
        joinGroup(){
          const socket2=new WebSocket('ws://localhost:8000/ws/join')
          socket2.onopen=function(e){
            socket2.send(JSON.stringify({
                        joincode:this.joiningcode,
                        joiner:this.user
              }),
              this.joiningcode='enter code')

          }.bind(this)
            
        },

        getJoinmsg(){

          this.socket2.onmessage = function(e) {
            const data=JSON.parse(e.data)

            if(this.user==data.joiner || this.user==data.user){

                    if(data.value=='✓ joined'){
                              if(this.user==data.joiner){
                                     this.status=data.value+" with "+data.user
                                }
                                else{
                                         this.status=data.value+ " "+data.joiner
                                }
                                }
                    else if(data.value=='✓ already joined'){
                                 if(this.user==data.joiner){
                                          this.status=data.value+" with "+data.user
                                      }
                                      }
                    else{
                      if(this.user==data.joiner){
                                          this.status=data.value
                                      }

                    }
            }
                    
                    
              
            }.bind(this)

        },
        
          
        sendmsg(){
          
          const socket=new WebSocket('ws://localhost:8000/ws/{{content.name}}')
          socket.onopen = function(e) {
            socket.send(JSON.stringify({
              value:this.msg,
              sender:this.user
              }),
              this.msg='MESSAGE');
            }.bind(this);
        },

        getmsg(){
          this.socket.onmessage = function(e) {
                    const data=JSON.parse(e.data)
                          if(data.value!='disconnect'){
                                  if(data.sender==this.user || data.reciever==this.user){

                                    if(this.user!=data.sender){data.friend=data.sender}
                                    else{data.friend=data.reciever}
                        
                                      this.massages.push(data)
                                  }
                            }
                            else{
                              if(data.reciever==this.user){
                                this.status= `${data.sender} id disconnected`
                              }
                            }
                    
                    
                    
                    
                    
              
            }.bind(this)

        }
      },
      mounted(){
            this.getmsg()
            this.getJoinmsg()
                
      },

  })
</script>

{% endblock %}