<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<style>

body{
    height: 100vh;
    overflow: hidden;
  }

.container{
  width:50%;
  background-color: #f1f1f1;
  border: solid 10px black;
  border-radius: 30px;
}
#base{

  margin:60px auto;

}

.col span{
  
  margin-left:60px;
  font-size: 24px;
  
}


#chatwindow{
  margin-top:30px;
    height: 50vh;
    overflow-x: scroll;



}

#chatwindow::-webkit-scrollbar{
            width:0px;
      }

.msgpannel {
  
  
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  

}
.left{
  border: 2px solid #dedede;
  background-color:white;
  width:60%;

}
.right{
  margin-left: 40%;
  border: 2px solid blue;
  background-color:blueviolet ;
  width:60%;
  color:white;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
.user-left {
  /* float: left; */
  
  color:#322F3D;
}

.user-right {
  color: #999;
  
}


#inputmsg{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top:-20px;
  background-color:#f1f1f1;
  font-size: 18px;
}


</style>